/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.c-bg-gray {
  background-color: #7b7b7b;
}

.c-bg-orange {
  background-color: #ff4928;
}

.c-text-gray {
  color: #7b7b7b;
}

.c-text-orange {
  color: #ff4928;
}

.c-name-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.header-padding {
  padding-bottom: 6.25rem;
}

.second-section-py {
  margin-top: 6.25rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.third-section-py {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.footer-section-py {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.c-bg-img {
  background-image: url("../assets/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.c-btn-link {
  padding: 0.75rem 2rem;
  background-color: white;
  border: 1px solid rgba(123, 123, 123, 0.5);
  border-radius: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .c-name-title {
    font-size: 4rem;
    font-weight: 900;
  }
}

@media screen and (min-width: 1200px) {
  .c-name-title {
    font-size: 5.625rem;
    font-weight: 900;
  }
}
